@media (max-width: 1200px) {
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
.navbar-collapse {
}
.navbar-collapse.collapse {
    display: none!important;
}
.navbar-collapse.collapse.in {
    display: block!important;
}
.navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
}
.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
}
}

@font-face
{
font-family: Italianno;
src: url(../fonts/Italianno-Regular-OTF.otf) format("opentype");
}

.navbar {
max-width: 1280px;
margin-left: auto;
margin-right: auto;
border: none;
background-color: #FCE014;
margin-bottom: 0px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
position: relative;
top: 4px;
margin:none;
color: black;
font-family: 'Italianno';
font-size: 3em;
}

.navbar .navbar-nav > li > a {
color: black;
font-size: 1.15em;
}

.dropdown .dropdown-menu {
width: inherit;
border: 1px solid black;
color: white;
}

.dropdown-menu {
border: 1px solid black;
color: white;
}

.dropdown-menu > li > a {
color: white;
}

.navbar-inverse .navbar-nav > li > a:focus {
color: black;
}

.navbar-inverse .navbar-toggle .icon-bar {
background-color: black;
}

.navbar-inverse .navbar-toggle:focus {
background-color: white;
}

.navbar-inverse .navbar-toggle:hover {
background-color: white;
}

.navbar-nav > li:hover {
background-color: black;
}

.navbar .navbar-nav > li > a:hover {
color: white;
}

.glyphicon {
padding-right: 10px;
}


