.newsFeed {
border-radius: 5px;
box-shadow: 2px 2px 2px #888888;
padding-left:20px;
padding-right:20px;
padding-top: 20px;
background: white;
margin-bottom: 20px;
}

.newsItem {
border-bottom: solid 1px;
border-bottom-style: dotted;
border-bottom-width: 1px;
border-bottom-color: gray;
margin-bottom:30px;
padding-bottom:10px;
overflow: auto;
}

.newsItem h2 {
margin:0px;
margin-bottom: 5px;
font-family: 'oxygen';
font-size: 2em;
}

.newsItem p {
color:black;
font-family: 'SourceSansPro';
font-size: 1.1em;

}

#newsDate {
margin:0px;
padding-bottom: 10px;
color:gray;
font-family: 'oxygen';
font-size:0.8em;
}

.footItem {
    width:600px;
    background: yellow;
    margin: 0 auto;
    padding: 20px;
    overflow: auto;
}

.footerItem ul {
    text-align: center;
    list-style-type: none;
    padding: 0px;

}

.footerItem ul li {
display: inline;
}

.footerItem ul li a {
padding: 2px 12px;
text-decoration: none;
}

.submitItem {
border-bottom-width: 1px;
border-bottom-color: gray;
margin-bottom:30px;
padding-bottom:20px;
overflow: auto;
}

.submitItem h2 {
margin:0px;
margin-bottom:20px;
font-family: 'oxygen';
font-size: 2em;
}

.pageNav {
    width:100%;
    margin: 0 auto;
    overflow: auto;
}

.pageNav ul {
    text-align: center;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;

}

.pageNav ul li {
display: inline;
    padding: 0px 8px 0px 8px;
}

.pageNav ul li a {
text-decoration: none;
}

#id_meddelande {
    height: 200px;
    width: 100%;
}

.pageNav {
padding:10px;
}

.captcha {
    border: solid 1px #A9A9A9;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#SubmittButton {
    width: 100%;
}

#newCaptchaButton {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}