{% extends "base.html" %}

{% block content %}
    <!-- kod höger och vänsterspalt -->
    <div class="container">
        <div class="row">
            <div class="col-centered">
                <div class="col-xs-12 col-md-8">
                    <!-- vänsterspalten med nyheter -->
                    <div class="newsFeed">
                        <!-- nyhetsartikel -->
                        {% for post in faqs %}
                        <div class="newsItem">
                                <h2>{{ post.question }}</h2>
                                <!-- nedanför finns ett ankare att länka till om man vill skapa en länk till
                                till "senaste nytt" i högerfältet -->
                                <a name="item{{ post.id }}"></a>
                                <!-- nedan lägger du in datumet för artikeln -->
                            {{ post.answer|safe }}
                        </div>
                        {% endfor %}
                        <!-- nyhetsartikel slut -->
                        
                        <!-- footer-elementet längst ner i vänsterspalten -->
                        {% include "footer.html" %}
                        <!-- slut footer-elementet längst ner i vänsterspalten -->
                        
                    </div>
                </div>
                
                <!-- kod för högerspalt -->
                <div class="col-xs-12 col-md-4">
                    <div class="sideBarItem">
                            <h2>Vanliga frågor</h2>
                            <!-- nedan länkas det till "artiklarnas ankare" -->
                            <ul>
                                {% if faqs %}
                                    {% for post in faqs %}
                                        <li><p><a href="#item{{ post.id }}">{{ post.question }}</a></p></li>
                                   {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <!-- sidoartikel slut -->
                </div>
            </div>
        </div>
    </div>
    <!-- kod höger och vänsterspalt slut-->
{% endblock %}
