{% extends "base.html" %}

{% block content %}
    
    <!-- kod för vänsterspalt -->
    <div class="container">
        <div class="row">
            <div class="col-centered">
                <div class="col-xs-12 col-md-8">
                    <div class="newsFeed">
                        <div class="newsItem">
                            <h2>Golf i Strömshammar</h2>
                            <p>Bla bla</p>
                        </div>
                        
                        <div class="newsItem">
                            <h2>Strömshammarmästerskapet 2013</h2>
                            <br>
                            <p>Lördagen den 17 Augusti samlades 22 golfare på Grytsbergs Säteri, Gnesta GK,
                                för att spela i vårt årliga mästerskap.</p>
                            <p>Grattis till vinnarna <b>Kerstin Wakander</b> och <b>Oscar Björklund</b>!</p>
                        </div>
                        
                        <div class="newsItem">
                            <h2>Strömshammarmästerskapet 2012</h2>
                            <br>
                            <p>Lördagen den 11 augusti spelades vår årliga golftävling för
                                sextonde året i rad. Tävlingen spelades i ett strålande sommarväder
                                på Solbacka där 24 personer deltog.</p>
                            <p>Grattis till vinnarna <b>Kerstin Wakander</b> och <b>Anders Börjebo</b>!</p>
                            <br>
                            <p>Klicka på bilderna för att förstora dem.</p>
                            <div id="wrapper">
                            <div id="list">  
                                <div class="masonryItem">
                                  <div class="masonryItem">
                                    <a href="static/bilder/golf2012/stromshammargolfen20120981.JPG" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2012/stromshammargolfen20120981.JPG"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2012/stromshammargolfen20121021.JPG" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2012/stromshammargolfen20121021.JPG"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2012/stromshammargolfen20121031.JPG" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2012/stromshammargolfen20121031.JPG"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2012/stromshammargolfen20121041.JPG" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2012/stromshammargolfen20121041.JPG"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2012/stromshammargolfen20121051.JPG" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2012/stromshammargolfen20121051.JPG"></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        <div class="newsItem">
                            <h2>Strömshammarmästerskapet 2011</h2>
                            <br>
                            <p>Lördagen den 13 Augusti var vi 26 golfare på
                                Solbacka golfbana i strålande väder för att
                                Kämpa om titeln strömshammarmästare i slaggolf.</p>
                            <p>Grattis till vinnarna <b>Susanne Lundberg</b> och <b>Kurt Danielsson</b>!</p>
                            <br>
                            <p>Klicka på bilderna för att förstora dem.</p>
                            <div id="wrapper">
                            <div id="list">  
                                <div class="masonryItem">
                                  <div class="masonryItem">
                                    <a href="static/bilder/golf2011/golf1.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2011/golf1.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2011/golf2.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2011/golf2.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2011/golf3.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2011/golf3.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2011/golf4.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2011/golf4.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2011/golf5.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2011/golf5.png"></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        <div class="newsItem">
                            <h2>Strömshammarmästerskapet 2010</h2>
                            <br>
                            <p>27st spelare samlades vid Solbacka, för 14:e året i följd, tidig på lördag morgon för att kämpa om den
                                åtråvärda titeln; Strömshammarmästare. Trorts mulet väder i början
                                kunde vi njuta av många trevliga bollar och fina resultat .</p>
                            <p>Grattis till vinnarna <b>Susanne Lundberg</b> och <b>Kenneth Lundberg</b>!</p>
                            <br>
                            <p>Klicka på bilderna för att förstora dem.</p>
                            <div id="wrapper">
                            <div id="list">  
                                <div class="masonryItem">
                                  <div class="masonryItem">
                                    <a href="static/bilder/golf2010/golf1.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2010/golf1.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2010/golf2.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2010/golf2.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2010/golf3.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2010/golf3.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2010/golf4.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2010/golf4.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2010/golf5.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2010/golf5.png"></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                         

                        <!-- footer-elementet längst ner i vänsterspalten -->
                        {% include "footer.html" %}
                        <!-- slut footer-elementet längst ner i vänsterspalten -->
                        
                    </div>
                </div>
                
                <!-- kod för högerspalt -->
                <div class="col-xs-12 col-md-4">
                    <div class="sideBar">
                        
                        <div class="sideBarItem">
                            <h2>Alla resultat 2013</h2>
                            <p><a href="static/dokument/golf/golfresultat2013.pdf">golfresultat2013.pdf</a></p>
                        </div>
                
                        <div class="sideBarItem">
                            <h2>Alla resultat 2012</h2>
                            <p><a href="static/dokument/golf/golfresultat2012.pdf">golfresultat2012.pdf</a></p>
                        </div>
                        
                        <div class="sideBarItem">
                            <h2>Alla resultat 2011</h2>
                            <p><a href="static/dokument/golf/golfresultat2011.pdf">golfresultat2011.pdf</a></p>
                        </div>
                        
                        <div class="sideBarItem">
                            <h2>Alla resultat 2010</h2>
                            <p><a href="static/dokument/golf/golfresultat2010.pdf">golfresultat2010.pdf</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
