{% extends "base.html" %}

{% block content %}

<!-- kod höger och vänsterspalt -->
    <div class="container">
        <div class="row">
            <div class="col-centered">
                <div class="col-xs-12 col-md-8">
                    <!-- vänsterspalten med nyheter -->
                    <div class="newsFeed">
                        <!-- nyhetsartikel -->
                        {% if news_posts %}
                            {% for post in news_posts %}

                            <div class="newsItem">
                            <h2>{{ post.headline }}</h2>
                            <a name="item{{ post.id }}"></a>
                            <p id="newsDate">senast uppdaterad: {{ post.date }}</p>
                            {{ post.body_text|safe }}
                            </div>
                            {% endfor %}
                        {% endif %}
                        
                        <div class="pageNav">
                             <ul>
                                 {% if news_posts.has_previous %}
                                    <li><a href="?page={{ news_posts.previous_page_number }}"><span class="glyphicon glyphicon glyphicon-arrow-left"></span>Nyare</a></li>
                                {% endif %}
                                 
                                
                                 
                                 <li>Sida {{ news_posts.number }} av {{ news_posts.paginator.num_pages }}</li>

                                 {% if news_posts.has_next %}
                                    <li><a href="?page={{ news_posts.next_page_number }}">Äldre <span class="glyphicon glyphicon glyphicon-arrow-right"></span></a></li>
                                {% endif %}
                            </ul>
                        </div>
                        
                        <!-- footer-elementet längst ner i vänsterspalten -->
                        {% include "footer.html" %}
                        <!-- slut footer-elementet längst ner i vänsterspalten -->
                        
                    </div> 
                </div>
                
                <!-- kod för högerspalt -->
                <div class="col-xs-12 col-md-4">
                    <div class="sideBar">
                        <!-- sidoartikel -->
                        <div class="sideBarItem">
                            <h2>Senaste nytt:</h2>
                            <!-- nedan länkas det till "artiklarnas ankare" -->
                            <ul>
                                {% if news_posts %}
                                    {% for post in news_posts %}
                                        <li><p><a href="#item{{ post.id }}">{{ post.headline }}</a></p></li>
                                   {% endfor %}
                                {% endif %}
                            </ul>
                        </div>
                        <!-- sidoartikel slut -->
                        
                        <!-- sidoartikel -->
                        <div class="sideBarItem">
                            <h2>Felanmälan</h2>
                            <p>Felanmälan på vattennätet görs till vattengruppen.  <br><br>
                            <b>Telefon : 073-829 62 75</b></p>
                        </div>
                        
                        <!-- sidoartikel -->
                        <div class="sideBarItem">
                            <h2>Välkomstbrev</h2>
                            <p>Är du ny i området? Ladda ned välkomstsbrevet nedan:</p>
                            <p><a href="static/dokument/välkommen.pdf">Välkomstbrev</a></p>
                        </div>
                        <!-- sidoartikel slut-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- kod höger och vänsterspalt slut-->
{% endblock %}