{% extends "base.html" %}

{% block content %}
    <!-- kod för vänsterspalt -->
    <div class="container">
        <div class="row">
            <div class="col-centered">
                <div class="col-xs-12 col-md-8">
                    <div class="newsFeed">
                        <div class="newsItem">
                            <a name="styrelsen"></a>
                            <h2>Styrelsen:</h2>
                            <table>
                                <tr>
                                    <td>Namn:</td>
                                    <td>Position:</td>
                                    <td>Tomt nr:</td>
                                    <td>Telefon:</td>
                                </tr>
                                <tr>
                                    <td>Ulf Carling<a name="UlfCarling"></a></td>
                                    <td>Ordförande</td>
                                    <td>37</td>
                                    <td>0157 222 21</td>
                                </tr>
                                <tr>
                                    <td>Ann Annelind<a name="AnnAnnelind"></a></td>
                                    <td>Sekreterare</td>
                                    <td>70</td>
                                    <td>0157 224 80</td>
                                </tr>
                                <tr>
                                    <td>Dan Björklund<a name="styrelsenDanBjörklund"></a></td>
                                    <td>Ledamot vatten</td>
                                    <td>38</td>
                                    <td>070 520 02 66</td>
                                </tr>
                                <tr>
                                    <td>Ingvar Larsson<a name="styrelsenIngvarLarsson"></a></td>
                                    <td>Ledamot väg & grönt</td>
                                    <td>19</td>
                                    <td>08 99 01 19 / 070 593 32 61</td>
                                </tr>
                                <tr>
                                    <td>Helen Swärdh<a name="HelenSwärdh"></a></td>
                                    <td>Kassör</td>
                                    <td>32</td>
                                    <td>08-530 382 54 / 073 332 08 79</td>
                                </tr>
                            </table>
                        </div>
                        <div class="newsItem">
                            <a name="vattengruppen"></a>
                            <h2>Vattengruppen:</h2>
                            <table>
                                <tr>
                                    <td>Namn:</td>
                                    <td>Tomt nr:</td>
                                    <td>Telefon:</td>
                                </tr>
                                <tr>
                                    <td>Dan Björklund <a name="DanBjörklund"></a></td>
                                    <td>38</td>
                                    <td> 070 520 02 66</td>
                                </tr>
                                <tr>
                                    <td>Kent Johansson<a name="KentJohansson"></a></td>
                                    <td>55</td>
                                    <td>08 778 15 66</td>
                                </tr>
                                <tr>
                                    <td>Jan Maarten Dijkgraf<a name="JanMaartenDijkgraf"></a></td>
                                    <td>73</td>
                                    <td>070 850 98 46</td>
                                </tr>
                                <tr>
                                    <td>Leif Nordström<a name="LeifNordström"></a></td>
                                    <td>34</td>
                                    <td>070 848 85 51</td>
                                </tr>
                                <tr>
                                    <td>Torbjörn Larsson<a name="TorbjörnLarsson"></a></td>
                                    <td>86</td>
                                    <td>08 778 15 66</td>
                                </tr>
                            </table>
                        </div>
                        <div class="newsItem">
                            <a name="vog"></a>
                            <h2>Väg och grönt:</h2>
                            <table>
                                <tr>
                                    <td>Namn:</td>
                                    <td>Tomt nr:</td>
                                    <td>Telefon:</td>
                                </tr>
                                <tr>
                                    <td>Ingvar Larsson<a name="IngvarLarsson"></a></td>
                                    <td> 19</td>
                                    <td>08 99 01 10 / 070 593 32 61</td>
                                </tr>
                            </table>
                        </div>
                        <div class="newsItem">
                            <a name="fiske"></a>
                            <h2>Fiske:</h2>
                            <table>
                                <tr>
                                    <td>Namn:</td>
                                    <td>Tomt nr:</td>
                                    <td>Telefon:</td>
                                </tr>
                                <tr>
                                    <td>Allan Johansson<a name="AllanJohansson"></a></td>
                                    <td>110</td>
                                    <td>070 890 51 14</td>
                                </tr>
                                <tr>
                                    <td>Joakim Björklund<a name="fiskeJoakimBjörklund"></a></td>
                                    <td>61</td>
                                    <td>08 774 35 79</td>
                                </tr>
                                <tr>
                                    <td>Kenneth Modig<a name="KennethModig"></a></td>
                                    <td>40</td>
                                    <td>076 648 08 94</td>
                            </table>
                            <br>
                        </div>

                        <!--
                        <div class="newsItem">
                            <a name="boule"></a>
                            <h2>Boule:</h2>
                            <table>
                                <tr>
                                    <td>Namn:</td>
                                    <td>Position:</td>
                                    <td>Tomt nr:</td>
                                    <td>Telefon:</td>
                                </tr>
                                <tr>
                                    <td>Roland Eriksson </td>
                                    <td>?</td>
                                    <td> 28</td>
                                    <td>0157 221 10</td>
                                </tr>
                                <tr>
                                    <td>Bengt Andersson</td>
                                    <td>?</td>
                                    <td>31</td>
                                    <td>08 522 137 81</td>
                                </tr>
                            </table>
                        </div>
                        -->
                        
                        <div class="newsItem">
                            <a name="fest"></a>
                            <h2>Fest:</h2>
                            <table>
                                <tr>
                                    <td>Namn:</td>
                                    <td>Tomt nr:</td>
                                    <td>Telefon:</td>
                                </tr>
                                <tr>
                                    <td>Nina Björklund<a name="NinaBjörklund"></a></td>
                                    <td>38</td>
                                    <td>070 221 85 87</td>
                                </tr>
                                <tr>
                                    <td>Gunnar Jägerberg<a name="GunnarJägerberg"></a></td>
                                    <td>36</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Kicki Gahre<a name="KickiGahre"></a></td>
                                    <td>5</td>
                                    <td>-</td>
                                </tr>
                                <tr>
                                    <td>Lotta Strömberg<a name="LottaStrömberg"></a></td>
                                    <td>48</td>
                                    <td>-</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="newsItem">
                            <a name="golf"></a>
                            <h2>Golf:</h2>
                            <table>
                                <tr>
                                    <td>Namn:</td>
                                    <td>Tomt nr:</td>
                                    <td>Telefon:</td>
                                </tr>
                                <tr>
                                    <td>Hans Björklund<a name="HansBjörklund"></a></td>
                                    <td>53</td>
                                    <td>0157 222 44</td>
                                </tr>
                            </table>
                        </div>
                        
                        <div class="newsItem">
                            <a name="arbetsledare"></a>
                            <h2>Arbetsledare</h2>
                            <table>
                                <tr>
                                    <td>Arbetslag nr:</td>
                                    <td>Namn:</td>
                                    <td>Tomt nr:</td>
                                    <td>Telefon:</td>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>Ola Claesson<a name="OlaClaesson"></a></td>
                                    <td>104</td>
                                    <td>08 99 26 74 / 0157 223 10</td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Lars Lindesten<a name="LarsLindesten"></a></td>
                                    <td>5</td>
                                    <td>070 350 66 18</td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Lars Sjöberg<a name="LarsSjöberg"></a></td>
                                    <td>45</td>
                                    <td>070 521 16 47</td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Kurt Danielsson<a name="KurtDanielsson"></a></td>
                                    <td>82</td>
                                    <td>08 37 17 36</td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Joakim Björklund<a name="JoakimBjörklund"></a></td>
                                    <td>61</td>
                                    <td>08 774 35 79</td>
                                </tr>
                            </table>
                        </div>
	                   
                        
                        <!-- footer-elementet längst ner i vänsterspalten -->
                        {% include "footer.html" %}
                        <!-- slut footer-elementet längst ner i vänsterspalten -->
                        
                        </div>
                    </div>
                
                
                <!-- kod för högerspalt -->
                <div class="col-xs-12 col-md-4">
                    <div class="sideBar">
                        <div class="sideBarItem">
                            <h2>Snabblänkar:</h2>
                            <ul>
                                <li><p><a href="#styrelsen">Styrelsen</a></p></li>
                                <li><p><a href="#vattengruppen">Vattengruppen</a></p></li>
                                <li><p><a href="#vog">Väg och grönt</a></p></li>
                                <li><p><a href="#fiske">Fiske</a></p></li>
                               <!-- <li><p><a href="#boule">Boule</a></p></li> -->
                                <li><p><a href="#fest">Fest</a></p></li>
                                <li><p><a href="#golf">Golf</a></p></li>
                                <li><p><a href="#arbetsledare">Arbetsledare</a></p></li>
                            </ul>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
