{% extends "masonry_base.html" %}

{% block content %}
    <!-- kod för vänsterspalt -->
    <div class="container">
        <div class="row">
            <div class="col-centered">
                <div class="col-xs-12 col-md-20">
                    <div class="masonryFeed">
                        <div class="masonryInfo">
                            <h2>Strömshammars bildgalleri!</h2>
                            <b>Klicka på bilderna nedan för att förstora dem.</b>
                        </div>
                        
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="row">
            <div class="col-centered">
                <div class="col-xs-12 col-md-20">
                    <div class="newsFeed">
                        <div id="wrapper">
                            <div id="list">
                                {% if images %}
                                {% for image in images %}
                                <div class="masonryItem">
                                    <a href="media/galleribilder/{{ image.filename }}" data-lightbox="masonryImage" data-title="{{ image.caption }}"><img class="masonryImage" src="media/galleribilder/{{ image.filename }}"></a>
                                </div>
                                {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>

{% endblock %}
