<div class="newsItem">
                                <h2>Premiär för nya Strömshammar-sidan!</h2>
                            
                                <!-- nedanför finns ett ankare att länka till om man vill skapa en länk till
                                till "senaste nytt" i högerfältet -->
                                <a name="newsItem3"></a>
                                <!-- nedan lägger du in datumet för artikeln -->
                                <p id="newsDate">-onsdagen den 21 november 2013</p>
                                <p>Bla bla bla trevligt, jordgubbar och glass. </p>
                        </div>
                        <!-- nyhetsartikel slut --> 
                        
                        <!-- nyhetsartikel -->
                        <div class="newsItem">
                            <h2>Stor vindkraftspark planeras i dunker.</h2>
                            <!-- nedanför finns ett ankare att länka till om man vill skapa en länk till
                            till "senaste nytt" i högerfältet -->
                            <a name="newsItem1"></a>
                            <!-- nedan lägger du in datumet för artikeln -->
                            <p id="newsDate">-onsdagen den 20 november 2013</p>
                            <p>För information kontakta dunkers-och-gryts-vael@hotmail.se
                            <br><br>
                            Med vänlig hälsning Styrelsen i Strömshammar.
                            </p>
                        </div>
                        <!-- nyhetsartikel slut -->





<div class="newsItem">
                            <h2>Golf i Strömshammar</h2>
                            <p>Bla bla</p>
                        </div>
                        
                        <div class="newsItem">
                            <h2>Strömshammarmästerskapet 2013</h2>
                            <br>
                            <p>Lördagen den 17 Augusti samlades 22 golfare på Grytsbergs Säteri, Gnesta GK,
                                för att spela i vårt årliga mästerskap.</p>
                            <p>Grattis till vinnarna <b>Kerstin Wakander</b> och <b>Oscar Björklund</b>!</p>
                        </div>
                        
                        <div class="newsItem">
                            <h2>Strömshammarmästerskapet 2012</h2>
                            <br>
                            <p>Lördagen den 11 augusti spelades vår årliga golftävling för
                                sextonde året i rad. Tävlingen spelades i ett strålande sommarväder
                                på Solbacka där 24 personer deltog.</p>
                            <p>Grattis till vinnarna <b>Kerstin Wakander</b> och <b>Anders Börjebo</b>!</p>
                            <br>
                            <p>Klicka på bilderna för att förstora dem.</p>
                            <div id="wrapper">
                            <div id="list">  
                                <div class="masonryItem">
                                  <div class="masonryItem">
                                    <a href="static/bilder/golf2012/stromshammargolfen20120981.JPG" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2012/stromshammargolfen20120981.JPG"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2012/stromshammargolfen20121021.JPG" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2012/stromshammargolfen20121021.JPG"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2012/stromshammargolfen20121031.JPG" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2012/stromshammargolfen20121031.JPG"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2012/stromshammargolfen20121041.JPG" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2012/stromshammargolfen20121041.JPG"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2012/stromshammargolfen20121051.JPG" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2012/stromshammargolfen20121051.JPG"></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        <div class="newsItem">
                            <h2>Strömshammarmästerskapet 2011</h2>
                            <br>
                            <p>Lördagen den 13 Augusti var vi 26 golfare på
                                Solbacka golfbana i strålande väder för att
                                Kämpa om titeln strömshammarmästare i slaggolf.</p>
                            <p>Grattis till vinnarna <b>Susanne Lundberg</b> och <b>Kurt Danielsson</b>!</p>
                            <br>
                            <p>Klicka på bilderna för att förstora dem.</p>
                            <div id="wrapper">
                            <div id="list">  
                                <div class="masonryItem">
                                  <div class="masonryItem">
                                    <a href="static/bilder/golf2011/golf1.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2011/golf1.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2011/golf2.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2011/golf2.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2011/golf3.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2011/golf3.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2011/golf4.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2011/golf4.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2011/golf5.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2011/golf5.png"></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        
                        <div class="newsItem">
                            <h2>Strömshammarmästerskapet 2010</h2>
                            <br>
                            <p>27st spelare samlades vid Solbacka, för 14:e året i följd, tidig på lördag morgon för att kämpa om den
                                åtråvärda titeln; Strömshammarmästare. Trorts mulet väder i början
                                kunde vi njuta av många trevliga bollar och fina resultat .</p>
                            <p>Grattis till vinnarna <b>Susanne Lundberg</b> och <b>Kenneth Lundberg</b>!</p>
                            <br>
                            <p>Klicka på bilderna för att förstora dem.</p>
                            <div id="wrapper">
                            <div id="list">  
                                <div class="masonryItem">
                                  <div class="masonryItem">
                                    <a href="static/bilder/golf2010/golf1.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2010/golf1.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2010/golf2.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2010/golf2.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2010/golf3.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2010/golf3.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2010/golf4.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2010/golf4.png"></a>
                                </div>
                                    <div class="masonryItem">
                                    <a href="static/bilder/golf2010/golf5.png" data-lightbox="masonryImage" data-title="My"><img class="masonryImage" src="static/bilder/golf2010/golf5.png"></a>
                                </div>
                                </div>
                            </div>
                            </div>
                        </div>