{%extends "base.html" %}

{% block content %}

<!-- kod höger och vänsterspalt -->
    <div class="container">
        <div class="row">
            <div class="col-centered">
                <div class="col-xs-12 col-md-8">
                    <!-- vänsterspalten med nyheter -->
                    <div class="newsFeed">
                        <!-- nyhetsartikel -->
                        <div class="pageNav">
                                <h2>Tack för ditt inlägg!</h2>
                                </br>
                                <a href="/wall">Tillbaka</a>
                                </br>
                                </br>
                                </br>
                        </div>
                        <!-- nyhetsartikel slut -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- kod höger och vänsterspalt slut-->
{% endblock %}